In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
esru=pd.read_stata('/content/drive/Othercomputers/Mi portátil/Escritorio/DIPLOMADO UNAM CIENCIA DE DATOS/MOVILIDAD SOCIAL/3 BASES DATOS ESRU-EMOVI 2017/ESRU-EMOVI 2017 Entrevistado.dta',convert_categoricals=False)
esru.columns.values

array(['folio', 'Estado', 'folio_ageb', 'consecutivo', 'Origen',
       'Latitud', 'Longitud', 'LatitudGP', 'LongitudGP', 'recontacto',
       'factor', 'est_dis', 'upm', 'ezona', 'p01', 'p02', 'p03', 'p05',
       'p06', 'p08', 'p09_1', 'p09_2', 'p09_3', 'p10_1', 'p10_2', 'p10_3',
       'p11_1', 'p11_2', 'p11_3', 'p12', 'p13', 'p13_1', 'p14', 'p15',
       'p18', 'p19', 'p20_1', 'p20_2', 'p21', 'p22', 'p23', 'p23_1',
       'p23_2', 'p24', 'p25', 'p26', 'p26_41', 'p26_51', 'p27', 'p28',
       'p28_1', 'p29', 'p30_a', 'p30_b', 'p30_c', 'p30_d', 'p30_e', 'p31',
       'p31_51', 'p32_a', 'p32_b', 'p32_c', 'p32_d', 'p33_a', 'p33_b',
       'p33_c', 'p33_d', 'p33_e', 'p33_f', 'p33_g', 'p33_h', 'p33_i',
       'p33_j', 'p33_k', 'p33_l', 'p33_m', 'p33_n', 'p34_a', 'p34_b',
       'p34_c', 'p34_d', 'p34_e', 'p34_f', 'p34_g', 'p34_h', 'p35',
       'p36_11', 'p37_11', 'p38_11', 'p39', 'p40', 'p41', 'p42', 'p43',
       'p44', 'p45', 'p35m', 'p36m_11', 'p37m_11', 'p38m_11', 'p39m',
       'p40m', 'p41m', 'p42m', 'p43m', 'p44m', 'p45m', 'p46', 'p47',
       'p48', 'SINCO1', 'CIUO1', 'p49', 'p50', 'p51', 'p52', 'p53', 'p54',
       'p55', 'SINCO2', 'CIUO2', 'p56', 'p57', 'p58', 'p59', 'p60', 'p61',
       'p62a', 'p62b', 'p62c', 'p62d', 'p62e', 'p62f', 'p62g', 'p62h',
       'p62i', 'p63a', 'p63b', 'p63b_1', 'p63b_2', 'p63c', 'p63c_1',
       'p63c_2', 'p63d', 'p64', 'p65', 'p65_41', 'p66', 'p67', 'p68',
       'p69', 'p70', 'p71', 'p71_61', 'p72', 'p73_1', 'p74', 'p75', 'p76',
       'SINCO3', 'CIUO3', 'p77', 'p78', 'p79', 'SCIAN3', 'p80', 'p81',
       'p82', 'p83', 'p84', 'p85_1', 'p85_2', 'p85_3', 'p85_4', 'p85_5',
       'p85_6', 'p85_7', 'p85_8', 'p85_9', 'p85_10', 'p85_9_1', 'p86',
       'p87', 'p88', 'p89', 'p89_11', 'p90', 'p91', 'p92', 'p93', 'p94',
       'p95', 'p96', 'p97', 'p97_11', 'p98', 'p99', 'p99a', 'p100',
       'p101', 'SINCO4', 'CIUO4', 'p102', 'p103', 'p104', 'SCIAN4',
       'p105', 'p106', 'p107', 'p108', 'p109', 'p110_1', 'p110_2',
       'p110_3', 'p110_4', 'p110_5', 'p110_6', 'p110_7', 'p110_8',
       'p110_9', 'p110_9_1', 'p110_10', 'p111', 'p112', 'p113', 'p113_11',
       'p114', 'p115', 'p116', 'p116_71', 'p117', 'p118', 'p119', 'p120',
       'p121', 'p122', 'p123', 'p124', 'p124_61', 'p125a', 'p125b',
       'p125c', 'p125d', 'p125e', 'p126a', 'p126b', 'p126c', 'p126d',
       'p126e', 'p126f', 'p126g', 'p126h', 'p126i', 'p126j', 'p126k',
       'p126l', 'p126m', 'p126n', 'p126o', 'p126p', 'p126q', 'p126r',
       'p127', 'p127_81', 'p128a', 'p128b', 'p128c', 'p128d', 'p128e',
       'p128f', 'p129a', 'p129b', 'p129c', 'p129d', 'p129e', 'p130a',
       'p130b', 'p130c', 'p130c_11', 'p130d', 'p130e', 'p130f',
       'p130f_11', 'p131', 'p132', 'p133', 'p134a', 'p134b', 'p134c',
       'p134d', 'p134e', 'p134f', 'p134g', 'p134h', 'p134i', 'p135',
       'p136', 'p137', 'SINCO5', 'CIUO5', 'p138', 'p139', 'p140', 'p141',
       'p142', 'p143', 'p144', 'p145', 'p146', 'p147', 'p148', 'p149',
       'p150a', 'p150a_1', 'p150a_2', 'p150a_3', 'p150a_4', 'p150a_5',
       'p150a_6', 'p150b', 'p150b_1', 'p150b_2', 'p150b_3', 'p150b_4',
       'p150b_5', 'p150b_6', 'p150c', 'p150c_1', 'p150c_2', 'p150c_3',
       'p150c_4', 'p150c_5', 'p150c_6', 'p150d', 'p150d_1', 'p150d_2',
       'p150d_3', 'p150d_4', 'p150d_5', 'p150d_6', 'p150e', 'p150e_1',
       'p150e_2', 'p150e_3', 'p150e_4', 'p150e_5', 'p150e_6', 'p150f',
       'p150f_11', 'p150f_1', 'p150f_2', 'p150f_3', 'p150f_4', 'p150f_5',
       'p150f_6', 'p151', 'region', 'cdmx', 'tot_int', 'rururb', 'cmo1_2',
       'cmo2_2', 'cmo3_2', 'cmo4_2', 'cmo5_2', 'tamhog'], dtype=object)

In [3]:
#VARIABLE DE EDUCACIÓN DEL ENTREVISTADO
esru['educ']=pd.NA

esru.loc[esru['p13'] == 97, 'educ'] = 1
esru.loc[esru['p13'] == 1, 'educ'] = 1

esru.loc[(esru['p13'] == 2) & (esru['p14'].between(1, 5)), 'educ'] = 2

esru.loc[(esru['p13'] == 2) & (esru['p14'] == 6), 'educ'] = 3
esru.loc[(esru['p13'] == 3) & (esru['p14'].between(1, 2)), 'educ'] = 3
esru.loc[(esru['p13'] == 4) & (esru['p14'].between(1, 2)), 'educ'] = 3

esru.loc[(esru['p13'] == 3) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 4
esru.loc[(esru['p13'] == 4) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 4
esru.loc[(esru['p13'] == 5) & (esru['p14'].between(1, 2)), 'educ'] = 4
esru.loc[(esru['p13'] == 6) & (esru['p14'].between(1, 2)), 'educ'] = 4
esru.loc[(esru['p13'] == 7) & (esru['p14'].between(1, 2)), 'educ'] = 4
esru.loc[(esru['p13'] == 9) & (esru['p14'].between(1, 2)), 'educ'] = 4

esru.loc[(esru['p13'] == 5) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 5
esru.loc[(esru['p13'] == 6) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 5
esru.loc[(esru['p13'] == 7) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 5
esru.loc[(esru['p13'] == 8) & (esru['p14'].between(1, 2)), 'educ'] = 5
esru.loc[(esru['p13'] == 9) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 5
esru.loc[(esru['p13'] == 10) & (esru['p14'].between(1, 3)), 'educ'] = 5
esru.loc[(esru['p13'] == 11) & (esru['p14'].between(1, 3)), 'educ'] = 5

esru.loc[(esru['p13'] == 8) & (esru['p14'] >= 3) & (esru['p14'].notna()), 'educ'] = 6
esru.loc[(esru['p13'] == 10) & (esru['p14'] >= 4) & (esru['p14'].notna()), 'educ'] = 6
esru.loc[(esru['p13'] == 11) & (esru['p14'] >= 4) & (esru['p14'].notna()), 'educ'] = 6
esru.loc[esru['p13'] == 12, 'educ'] = 6
print(esru.educ.head(10))

0    5
1    4
2    5
3    3
4    2
5    5
6    5
7    4
8    2
9    6
Name: educ, dtype: object

<ipython-input-3-e4771f79a588>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['educ']=pd.NA

In [4]:
#VARIABLE DE EDUCACIÓN DEL PADRE DEL ENTREVISTADO
esru['educ_padre']=pd.NA

esru.loc[esru['p42'] == 2, 'educ_padre'] = 1
esru.loc[esru['p43'] == 1, 'educ_padre'] = 1

esru.loc[(esru['p43'] == 2) & (esru['p44'].between(1, 5)), 'educ_padre'] = 2

esru.loc[(esru['p43'] == 2) & (esru['p44'] == 6), 'educ_padre'] = 3
esru.loc[(esru['p43'] == 3) & (esru['p44'].between(1, 2)), 'educ_padre'] = 3
esru.loc[(esru['p43'] == 4) & (esru['p44'].between(1, 2)), 'educ_padre'] = 3

esru.loc[(esru['p43'] == 3) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 4
esru.loc[(esru['p43'] == 4) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 4
esru.loc[(esru['p43'] == 5) & (esru['p44'].between(1, 2)), 'educ_padre'] = 4
esru.loc[(esru['p43'] == 6) & (esru['p44'].between(1, 2)), 'educ_padre'] = 4
esru.loc[(esru['p43'] == 7) & (esru['p44'].between(1, 2)), 'educ_padre'] = 4
esru.loc[(esru['p43'] == 9) & (esru['p44'].between(1, 2)), 'educ_padre'] = 4

esru.loc[(esru['p43'] == 5) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 5
esru.loc[(esru['p43'] == 6) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 5
esru.loc[(esru['p43'] == 7) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 5
esru.loc[(esru['p43'] == 8) & (esru['p44'].between(1, 2)), 'educ_padre'] = 5
esru.loc[(esru['p43'] == 9) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 5
esru.loc[(esru['p43'] == 10) & (esru['p44'].between(1, 3)), 'educ_padre'] = 5
esru.loc[(esru['p43'] == 11) & (esru['p44'].between(1, 3)), 'educ_padre'] = 5

esru.loc[(esru['p43'] == 8) & (esru['p44'] >= 3) & (esru['p44'].notna()), 'educ_padre'] = 6
esru.loc[(esru['p43'] == 10) & (esru['p44'] >= 4) & (esru['p44'].notna()), 'educ_padre'] = 6
esru.loc[(esru['p43'] == 11) & (esru['p44'] >= 4) & (esru['p44'].notna()), 'educ_padre'] = 6
esru.loc[esru['p43'] == 12, 'educ_padre'] = 6
print(esru.educ_padre.head(10))

0       1
1       2
2    <NA>
3    <NA>
4       3
5       1
6       6
7       1
8       1
9       1
Name: educ_padre, dtype: object

<ipython-input-4-f5d1249e51f7>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['educ_padre']=pd.NA

In [5]:
#VARIABLE DE EDUCACIÓN DE LA MADRE DEL ENTREVISTADO
esru['educ_madre']=pd.NA

esru.loc[esru['p42m'] == 2, 'educ_madre'] = 1
esru.loc[esru['p43m'] == 1, 'educ_madre'] = 1

esru.loc[(esru['p43m'] == 2) & (esru['p44m'].between(1, 5)), 'educ_madre'] = 2

esru.loc[(esru['p43m'] == 2) & (esru['p44m'] == 6), 'educ_madre'] = 3
esru.loc[(esru['p43m'] == 3) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 3
esru.loc[(esru['p43m'] == 4) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 3

esru.loc[(esru['p43m'] == 3) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 4
esru.loc[(esru['p43m'] == 4) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 4
esru.loc[(esru['p43m'] == 5) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 4
esru.loc[(esru['p43m'] == 6) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 4
esru.loc[(esru['p43m'] == 7) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 4
esru.loc[(esru['p43m'] == 9) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 4

esru.loc[(esru['p43m'] == 5) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 5
esru.loc[(esru['p43m'] == 6) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 5
esru.loc[(esru['p43m'] == 7) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 5
esru.loc[(esru['p43m'] == 8) & (esru['p44m'].between(1, 2)), 'educ_madre'] = 5
esru.loc[(esru['p43m'] == 9) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 5
esru.loc[(esru['p43m'] == 10) & (esru['p44m'].between(1, 3)), 'educ_madre'] = 5
esru.loc[(esru['p43m'] == 11) & (esru['p44m'].between(1, 3)), 'educ_madre'] = 5

esru.loc[(esru['p43m'] == 8) & (esru['p44m'] >= 3) & (esru['p44m'].notna()), 'educ_madre'] = 6
esru.loc[(esru['p43m'] == 10) & (esru['p44m'] >= 4) & (esru['p44m'].notna()), 'educ_madre'] = 6
esru.loc[(esru['p43m'] == 11) & (esru['p44m'] >= 4) & (esru['p44m'].notna()), 'educ_madre'] = 6
esru.loc[esru['p43m'] == 12, 'educ_madre'] = 6
print(esru.educ_madre.head(10))

0       1
1       1
2       3
3    <NA>
4       3
5       3
6       6
7       2
8       1
9       1
Name: educ_madre, dtype: object

<ipython-input-5-476b00d3c5c9>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['educ_madre']=pd.NA

In [9]:
#AGREGAR VARIABLE A DATAFRAME ESRU
educ_labels={
    1: 'Sin estudios',
    2: 'Primaria incompleta',
    3: 'Primaria',
    4: 'Secundaria',
    5: 'Preparatoria',
    6: 'Profesional'}

esru['educ'] = esru['educ'].astype('category')
esru['educ'].cat.rename_categories(educ_labels)
esru['educ'].cat.rename_categories({0: 'Nivel educativo del entrevistado'})

esru['educ_padre'] = esru['educ_padre'].astype('category')
esru['educ_padre'].cat.rename_categories(educ_labels)
esru['educ_padre'].cat.rename_categories({0: 'Nivel educativo del padre del entrevistado'})

esru['educ_madre'] = esru['educ_madre'].astype('category')
esru['educ_madre'].cat.rename_categories(educ_labels)
esru['educ_madre'].cat.rename_categories({0: 'Nivel educativo de la madre del entrevistado'})

0          1
1          1
2          3
3        NaN
4          3
        ...
17660      4
17661      1
17662      1
17663      3
17664      3
Name: educ_madre, Length: 17665, dtype: category
Categories (6, int64): [1, 2, 3, 4, 5, 6]

In [10]:
#VARIABLE DE EDUCACIÓN AGRUPADO
esru['educ_padre_2'] = np.nan


esru.loc[esru['educ_padre'].isin([1, 2, 3]), 'educ_padre_2'] = 1
esru.loc[esru['educ_padre'] == 4, 'educ_padre_2'] = 2
esru.loc[esru['educ_padre'] == 5, 'educ_padre_2'] = 3
esru.loc[esru['educ_padre'] == 6, 'educ_padre_2'] = 4
print(esru.educ_padre_2.head())


educ_2_labels = {
    1: 'A lo más primaria',
    2: 'Secundaria',
    3: 'Preparatoria',
    4: 'Profesional'
}


esru['educ_padre_2'] = esru['educ_padre_2'].astype('category')
esru['educ_padre_2'].cat.rename_categories(educ_2_labels)

0    1.0
1    1.0
2    NaN
3    NaN
4    1.0
Name: educ_padre_2, dtype: float64

0        A lo más primaria
1        A lo más primaria
2                      NaN
3                      NaN
4        A lo más primaria
               ...
17660           Secundaria
17661    A lo más primaria
17662    A lo más primaria
17663                  NaN
17664    A lo más primaria
Name: educ_padre_2, Length: 17665, dtype: category
Categories (4, object): ['A lo más primaria', 'Secundaria', 'Preparatoria', 'Profesional']

In [18]:
# VARIABLE OCUPACIÓN DEL PADRE
esru['clases_padre'] = np.nan
esru.loc[esru['cmo1_2'] == "41", 'clases_padre'] = 1
esru.loc[esru['cmo1_2'].isin(["54", "72", "81", "82", "83"]), 'clases_padre'] = 2
esru.loc[esru['cmo1_2'].isin(["51", "52", "53", "55"]), 'clases_padre'] = 3
esru.loc[esru['cmo1_2'] == "71", 'clases_padre'] = 4
esru.loc[esru['cmo1_2'].isin(["12", "13", "14", "62"]), 'clases_padre'] = 5
esru.loc[esru['cmo1_2'].isin(["11", "21", "61"]), 'clases_padre'] = 6

# VARIABLE OCUPACIÓN DE LA MADRE
esru['clases_madre'] = np.nan
esru.loc[esru['cmo2_2'] == "41", 'clases_madre'] = 1
esru.loc[esru['cmo2_2'].isin(["54", "72", "81", "82", "83"]), 'clases_madre'] = 2
esru.loc[esru['cmo2_2'].isin(["51", "52", "53", "55"]), 'clases_madre'] = 3
esru.loc[esru['cmo2_2'] == "71", 'clases_madre'] = 4
esru.loc[esru['cmo2_2'].isin(["12", "13", "14", "62"]), 'clases_madre'] = 5
esru.loc[esru['cmo2_2'].isin(["11", "21", "61"]), 'clases_madre'] = 6

# VARIABLE OCUPACIÓN DEL ENTREVITADO
esru['clases'] = np.nan
esru.loc[esru['cmo3_2'] == "41", 'clases'] = 1
esru.loc[esru['cmo3_2'].isin(["54", "72", "81", "82", "83"]), 'clases'] = 2
esru.loc[esru['cmo3_2'].isin(["51", "52", "53", "55"]), 'clases'] = 3
esru.loc[esru['cmo3_2'] == "71", 'clases'] = 4
esru.loc[esru['cmo3_2'].isin(["12", "13", "14", "62"]), 'clases'] = 5
esru.loc[esru['cmo3_2'].isin(["11", "21", "61"]), 'clases'] = 6

clases_labels = {
    1: 'Agricolas',
    2: 'Manual baja calif',
    3: 'Manual alta calif',
    4: 'Comercio',
    5: 'No manaual baja calif',
    6: 'No manual alta calif'
}
esru['clases'] = esru['clases'].astype('category')
esru['clases'].cat.rename_categories(clases_labels)
esru['clases'].cat.rename_categories({0: 'Clasificacion ocupacional del encuestado'})

esru['clases_padre'] = esru['clases_padre'].astype('category')
esru['clases_padre'].cat.rename_categories(clases_labels)
esru['clases_padre'].cat.rename_categories({0: 'Clasificacion ocupacional del padre del encuestado'})

esru['clases_madre'] = esru['clases_madre'].astype('category')
esru['clases_madre'].cat.rename_categories(clases_labels)
esru['clases_madre'].cat.rename_categories({0: 'Clasificacion ocupacional de la madre del encuestado'})

<ipython-input-18-8413bfa286c1>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['clases_padre'] = np.nan
<ipython-input-18-8413bfa286c1>:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['clases_madre'] = np.nan
<ipython-input-18-8413bfa286c1>:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['clases'] = np.nan

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
17660    NaN
17661    NaN
17662    NaN
17663    3.0
17664    NaN
Name: clases_madre, Length: 17665, dtype: category
Categories (6, float64): [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [11]:
columnas_hogar_or=esru[['p30_a','p30_b','p33_a','p33_b','p33_c']]
print(columnas_hogar_or)

       p30_a  p30_b  p33_a  p33_b  p33_c
0          2      2      1      2      2
1          2      1      2      2      2
2          1      1      2      2      2
3          1      1      2      2      1
4          1      1      2      2      2
...      ...    ...    ...    ...    ...
17660      1      1      1      1      1
17661      1      2      2      2      2
17662      1      1      1      1      2
17663      1      1      1      1      1
17664      1      2      2      2      2

[17665 rows x 5 columns]

In [14]:
#INDICE DE RIQUEZA DE HOGAR DE ORIGEN
!pip install prince
import pandas as pd
from prince import MCA

esru['piso'] = np.nan
esru.loc[esru['p29'].isin([2, 3]), 'piso'] = 1
esru.loc[esru['p29'] == 1, 'piso'] = 0

esru['piso'] = esru['piso'].astype('category')
unique_categories = {0: 'Piso de cemento', 1: 'Piso de madera', 2: 'Otro tipo de piso'}
esru['piso'].cat.rename_categories(unique_categories)

for col in esru[['p30_a', 'p30_b', 'p30_c', 'p30_d', 'p30_e', 'p33_a', 'p33_b', 'p33_c', 'p33_d', 'p33_e', 'p33_f', 'p33_g', 'p33_h', 'p33_i', 'p33_j', 'p33_k', 'p33_l', 'p33_m', 'p33_n']].columns:
    esru[col] = esru[col].replace({2: 0, 8: 0})

Requirement already satisfied: prince in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: altair<6.0.0,>=4.2.2 in /usr/local/lib/python3.10/dist-packages (from prince) (4.2.2)
Requirement already satisfied: pandas<3.0.0,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from prince) (2.2.2)
Requirement already satisfied: scikit-learn<2.0.0,>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from prince) (1.5.2)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair<6.0.0,>=4.2.2->prince) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair<6.0.0,>=4.2.2->prince) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair<6.0.0,>=4.2.2->prince) (4.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from altair<6.0.0,>=4.2.2->prince) (1.26.4)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair<6.0.0,>=4.2.2->prince) (0.12.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=1.4.1->prince) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=1.4.1->prince) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=1.4.1->prince) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (3.5.0)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6.0.0,>=4.2.2->prince) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6.0.0,>=4.2.2->prince) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6.0.0,>=4.2.2->prince) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6.0.0,>=4.2.2->prince) (0.20.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.4.1->prince) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair<6.0.0,>=4.2.2->prince) (3.0.2)

In [15]:
mca = MCA(n_components=2)
mca = mca.fit(esru[['p30_a', 'p30_b', 'p30_c', 'p30_d', 'p30_e', 'p33_a', 'p33_b', 'p33_c', 'p33_d', 'p33_e', 'p33_f', 'p33_g', 'p33_h', 'p33_i', 'p33_j', 'p33_k', 'p33_l', 'p33_m', 'p33_n']])


transformed_data = mca.transform(esru[['p30_a', 'p30_b', 'p30_c', 'p30_d', 'p30_e', 'p33_a', 'p33_b', 'p33_c', 'p33_d', 'p33_e', 'p33_f', 'p33_g', 'p33_h', 'p33_i', 'p33_j', 'p33_k', 'p33_l', 'p33_m', 'p33_n']])

esru['i_or'] = transformed_data.iloc[:, 0]
esru['i_or'] = esru['i_or'] * -1


mean_i_or = esru['i_or'].mean()
std_i_or = esru['i_or'].std()


esru['iriq_or'] = (esru['i_or'] - mean_i_or) / std_i_or


esru['iriq_or'] = esru['iriq_or'].astype('category')
esru['iriq_or'].cat.rename_categories({0: 'Índice de riqueza del hogar de origen'})

esru['iriq_or'] = esru['iriq_or'].astype(float)

esru['quintil_or'] = pd.qcut(esru['iriq_or'], 5, labels=False)

In [17]:
#INDICE DE RIQUEZA DEL HOGAR ACTUAL
columns_to_recode = ['p125b', 'p125d', 'p125e', 'p126a', 'p126b', 'p126c', 'p126d', 'p126e', 'p126f', 'p126g', 'p126h', 'p126i', 'p126j', 'p126k', 'p126l', 'p126m', 'p126n', 'p126o', 'p128c', 'p128d', 'p128e', 'p129a']


for col in columns_to_recode:
    if col in esru.columns:
        esru[col] = esru[col].replace({2: 0})



mca = MCA(n_components=2)
mca_columns = esru[columns_to_recode]
mca = mca.fit(mca_columns)

transform_data1 = mca.transform(mca_columns)
esru['i_des']=transform_data1.iloc[:, 0]
esru['i_des'] = esru['i_des'] * -1

mean_i_des = esru['i_des'].mean()
std_i_des = esru['i_des'].std()

esru['iriq_des'] = (esru['i_des'] - mean_i_des) / std_i_des

esru['quintil_des'] = pd.qcut(esru['iriq_des'], 5, labels=False)

esru['iriq_des'] = esru['iriq_des'].astype('category')
esru['iriq_des'].cat.rename_categories({0: 'Índice de riqueza del hogar actual'})

<ipython-input-17-40d2e1c2b135>:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['quintil_des'] = pd.qcut(esru['iriq_des'], 5, labels=False)

0       -0.356499
1        0.438883
2       -0.920787
3       -0.253012
4        1.065605
           ...
17660    0.871252
17661    0.887031
17662    0.301359
17663   -0.232529
17664    0.524184
Name: iriq_des, Length: 17665, dtype: category
Categories (5925, float64): [-2.641365, -2.528592, -2.477239, -2.464217, ..., 1.859923, 1.862520,
                             1.926895, 2.039669]

In [19]:
# VARIABLE NIVEL EDUCATIVO DEL PADRE
esru['niveducp'] = np.nan
esru.loc[esru['p42'] == 2, 'niveducp'] = 1
esru.loc[esru['p43'] == 1, 'niveducp'] = 2
esru.loc[esru['p43'] == 2, 'niveducp'] = 3
esru.loc[esru['p43'].isin([3, 4]), 'niveducp'] = 4
esru.loc[esru['p43'].isin([5, 6, 7, 9]), 'niveducp'] = 5
esru.loc[esru['p43'].isin([8, 10, 11, 12]), 'niveducp'] = 6

# VARIABLE NIVEL EDUCATIVO DE LA MADRE
esru['niveducm'] = np.nan
esru.loc[esru['p42m'] == 2, 'niveducm'] = 1
esru.loc[esru['p43m'] == 1, 'niveducm'] = 2
esru.loc[esru['p43m'] == 2, 'niveducm'] = 3
esru.loc[esru['p43m'].isin([3, 4]), 'niveducm'] = 4
esru.loc[esru['p43m'].isin([5, 6, 7, 9]), 'niveducm'] = 5
esru.loc[esru['p43m'].isin([8, 10, 11, 12]), 'niveducm'] = 6

# VARIABLE NIVEL EDUCATIVO DEL ENTREVISTADO
esru['niveduc'] = np.nan
esru.loc[esru['p13'] == 97, 'niveduc'] = 1
esru.loc[esru['p13'] == 1, 'niveduc'] = 2
esru.loc[esru['p13'] == 2, 'niveduc'] = 3
esru.loc[esru['p13'].isin([3, 4]), 'niveduc'] = 4
esru.loc[esru['p13'].isin([5, 6, 7, 9]), 'niveduc'] = 5
esru.loc[esru['p13'].isin([8, 10, 11, 12]), 'niveduc'] = 6

<ipython-input-19-31538a2c3d1f>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['niveducp'] = np.nan
<ipython-input-19-31538a2c3d1f>:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['niveducm'] = np.nan
<ipython-input-19-31538a2c3d1f>:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['niveduc'] = np.nan

In [20]:
# VARIABLE AÑOS DE ESCOLARIDAD DEL PADRE
esru['anesc_pad'] = np.nan
esru.loc[esru['niveducp'] == 1, 'anesc_pad'] = 0
esru.loc[esru['niveducp'] == 2, 'anesc_pad'] = esru['p44']
esru.loc[esru['niveducp'] == 3, 'anesc_pad'] = 6 + esru['p44']
esru.loc[esru['niveducp'] == 4, 'anesc_pad'] = 9 + esru['p44']
esru.loc[esru['niveducp'] == 5, 'anesc_pad'] = 12 + esru['p44']
esru.loc[esru['niveducp'] == 6, 'anesc_pad'] = 16 + esru['p44']

esru['anesc_pad'] = esru['anesc_pad'].astype('category')
esru['anesc_pad'].cat.rename_categories({0: 'Años de escolaridad del padre'})

# VARIABLE AÑOS DE ESCOLARIDAD DE LA MADRE
esru['anesc_mad'] = np.nan
esru.loc[esru['niveducm'] == 1, 'anesc_mad'] = 0
esru.loc[esru['niveducm'] == 2, 'anesc_mad'] = esru['p44m']
esru.loc[esru['niveducm'] == 3, 'anesc_mad'] = 6 + esru['p44m']
esru.loc[esru['niveducm'] == 4, 'anesc_mad'] = 9 + esru['p44m']
esru.loc[esru['niveducm'] == 5, 'anesc_mad'] = 12 + esru['p44m']
esru.loc[esru['niveducm'] == 6, 'anesc_mad'] = 16 + esru['p44m']

esru['anesc_mad'] = esru['anesc_mad'].astype('category')
esru['anesc_mad'].cat.rename_categories({0: 'Años de escolaridad de la madre'})

# VARIABLE AÑOS DE ESCOLARIDAD DE AMBOS PADRES
esru['anesc_padres'] = esru[['anesc_pad', 'anesc_mad']].mean(axis=1)

esru['anesc_padres'] = esru['anesc_padres'].astype('category')
esru['anesc_padres'].cat.rename_categories({0: 'Años de escolaridad promedio de los padres'})

# VARIABLE AÑOS DE ESCOLARIDAD DEL ENTREVISTADO
esru['anesc_ent'] = np.nan
esru.loc[esru['niveduc'] == 1, 'anesc_ent'] = 0
esru.loc[esru['niveduc'] == 2, 'anesc_ent'] = esru['p14']
esru.loc[esru['niveduc'] == 3, 'anesc_ent'] = 6 + esru['p14']
esru.loc[esru['niveduc'] == 4, 'anesc_ent'] = 9 + esru['p14']
esru.loc[esru['niveduc'] == 5, 'anesc_ent'] = 12 + esru['p14']
esru.loc[esru['niveduc'] == 6, 'anesc_ent'] = 16 + esru['p14']

esru['anesc_ent'] = esru['anesc_ent'].astype('category')
esru['anesc_ent'].cat.rename_categories({0: 'Años de escolaridad del entrevistado'})

esru.drop(columns=esru.filter(regex='^niveduc').columns)

<ipython-input-20-786cd046e038>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['anesc_pad'] = np.nan
<ipython-input-20-786cd046e038>:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['anesc_mad'] = np.nan
<ipython-input-20-786cd046e038>:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['anesc_padres'] = esru[['anesc_pad', 'anesc_mad']].mean(axis=1)
<ipython-input-20-786cd046e038>:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['anesc_ent'] = np.nan

,folio,Estado,folio_ageb,consecutivo,Origen,Latitud,Longitud,LatitudGP,LongitudGP,recontacto,...,i_des,iriq_des,quintil_des,clases_padre,clases_madre,clases,anesc_pad,anesc_mad,anesc_padres,anesc_ent
0,0100100010286020830102,1.0,0100100010286,1,1.0,21.901323,-102.310598,21.901477,-102.310429,2,...,-0.186557,-0.356499,1,1.0,NaN,NaN,0.0,0.0,0.0,15.0
1,0100100010286020850201,1.0,0100100010286,1,2.0,21.901323,-102.310598,21.900773,-102.311138,1,...,0.229669,0.438883,2,1.0,NaN,NaN,9.0,0.0,4.5,12.0
2,0100100010286025830201,1.0,0100100010286,1,1.0,21.900830,-102.311818,21.900549,-102.313361,1,...,-0.481852,-0.920787,0,2.0,NaN,NaN,NaN,12.0,12.0,15.0
3,0100100010286025840101,1.0,0100100010286,1,1.0,21.901188,-102.310700,21.900765,-102.313144,1,...,-0.132402,-0.253012,1,3.0,NaN,NaN,NaN,NaN,NaN,12.0
4,0100100010286025850101,1.0,0100100010286,1,2.0,21.901188,-102.310700,21.900577,-102.312733,1,...,0.557635,1.065605,4,3.0,NaN,NaN,12.0,12.0,12.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17660,3205700010022019460402,32.0,3205700010022,2,1.0,22.755409,-102.513985,22.755409,-102.513985,1,...,0.455930,0.871252,3,4.0,NaN,NaN,12.0,12.0,12.0,12.0
17661,3205700010022025450501,32.0,3205700010022,2,1.0,22.288405,-101.577532,22.288405,-101.577532,1,...,0.464187,0.887031,4,NaN,NaN,NaN,0.0,0.0,0.0,9.0
17662,3205700010022025460301,32.0,3205700010022,2,1.0,22.758625,-102.499375,22.758625,-102.499375,1,...,0.157702,0.301359,2,NaN,NaN,NaN,0.0,0.0,0.0,12.0
17663,3205700010022025460302,32.0,3205700010022,2,1.0,22.755420,-102.513997,22.755420,-102.513997,1,...,-0.121684,-0.232529,1,NaN,3.0,NaN,NaN,12.0,12.0,15.0
17664,3205700010022025460501,32.0,3205700010022,7,1.0,22.758625,-102.499375,22.758625,-102.499375,1,...,0.274308,0.524184,3,NaN,NaN,NaN,0.0,12.0,6.0,11.0

In [21]:
# VARIABLE DE HABITACIONES Y HABITANTES DEL HOGAR DE LOS PADRES
esru['padres_hac'] = esru['p27'] / esru['p28_1']

esru['padres_hac'] = esru['padres_hac'].astype('category')
esru['padres_hac'].cat.rename_categories({0: 'Variable indicadora de hacinamiento hogar de origen'})

# VARIABLE DE HABITACIONES Y HABITANTES DEL HOGAR DEL ENTREVISTADO
esru['hijo_hac'] = esru['tamhog'] / esru['p121']

esru['hijo_hac'] = esru['hijo_hac'].astype('category')
esru['hijo_hac'].cat.rename_categories({0: 'Variable indicador de hacinamiento hogar actual'})

<ipython-input-21-d04286d0a86f>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['padres_hac'] = esru['p27'] / esru['p28_1']
<ipython-input-21-d04286d0a86f>:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['hijo_hac'] = esru['tamhog'] / esru['p121']

0        1.666667
1        0.333333
2             0.4
3            0.25
4        0.666667
           ...
17660         2.0
17661         2.0
17662         3.0
17663         2.5
17664         2.5
Name: hijo_hac, Length: 17665, dtype: category
Categories (65, object): ['Variable indicador de hacinamiento hogar actual', 0.125, 0.166667, 0.2, ..., 9.0, 10.0, 11.0, 12.0]

In [23]:
!pip install scikit-learn
from sklearn.decomposition import PCA


esru['padres_agua'] = esru['p30_a'] == 1
esru['padres_estufa'] = esru['p33_a'] == 1
esru['padres_elect'] = esru['p30_b'] == 1
esru['padres_tv'] = esru['p33_e'] == 1
esru['padres_refri'] = esru['p33_c'] == 1
esru['padres_lavad'] = esru['p33_b'] == 1
esru['padres_telfijo'] = esru['p33_d'] == 1
esru['padres_compu'] = esru['p33_k'] == 1
esru['padres_videoc'] = esru['p33_n'] == 1
esru['padres_micro'] = esru['p33_i'] == 1
esru['padres_tvcable'] = esru['p33_h'] == 1
esru['padres_duenoviv'] = esru['p34_a'] == 1
esru['padres_duenolocal'] = esru['p34_b'] == 1
esru['padres_duenotierra'] = esru['p34_c'] == 1
esru['padres_duenootro'] = esru['p34_d'] == 1
esru['padres_auto'] = esru['p34_e'] == 1
esru['padres_tractor'] = esru['p34_f'] == 1
esru['padres_animales'] = esru['p34_g'] == 1
esru['padres_ganado'] = esru['p34_h'] == 1
esru['padres_banco'] = esru['p32_b'] == 1
esru['padres_tarjcredito'] = esru['p32_c'] == 1
esru['padres_boiler'] = esru['p30_d'] == 1
esru['padres_serv'] = esru['p30_e'] == 1
esru['padres_asp'] = esru['p33_g'] == 1
esru['padres_viv'] = np.where(esru['p31'] == 3, 1, 0)


esru['hijo_agua'] = esru['p125a'] == 1
esru['hijo_estufa'] = esru['p126a'] == 1
esru['hijo_elect'] = esru['p125b'] == 1
esru['hijo_refri'] = esru['p126c'] == 1
esru['hijo_lavad'] = esru['p126b'] == 1
esru['hijo_telfijo'] = esru['p126k'] == 1
esru['hijo_compu'] = esru['p126o'] == 1
esru['hijo_videoc'] = esru['p126h'] == 1
esru['hijo_micro'] = esru['p126d'] == 1
esru['hijo_tvcable'] = esru['p126j'] == 1
esru['hijo_duenoviv'] = esru['p129a'] == 1
esru['hijo_duenolocal'] = esru['p129b'] == 1
esru['hijo_duenotierra'] = esru['p129d'] == 1
esru['hijo_animales'] = esru['p126p'] == 1
esru['hijo_ganado'] = esru['p126q'] == 1
esru['hijo_banco'] = esru['p128c'] == 1
esru['hijo_tarjcredito'] = esru['p128d'] == 1
esru['hijo_internet'] = esru['p126m'] == 1
esru['hijo_boiler'] = esru['p125d'] == 1
esru['hijo_serv'] = esru['p125e'] == 1
esru['hijo_viv'] = np.where(esru['p123'] == 1 | esru['p124'].isin([3, 5]), 1, 0)
esru['hijo_auto'] = np.where(esru['p131'] >= 1, 1, 0)
esru['hijo_mattierra'] = np.where(esru['p120'] == 1, 1, 0)

# PVARIABLE DE RIQUEZA DE PADRES
pca_padres = PCA()
padres_vars = esru.filter(regex='^padres_').values
pca_padres.fit(padres_vars)
esru['riq_padres'] = pca_padres.transform(padres_vars)[:, 0]

esru['q_riq_padres'] = pd.qcut(esru['riq_padres'], 5, labels=False)

# VARIABLE DE RIQUEZA PARA HIJOS
pca_hijo = PCA()
hijo_vars = esru.filter(regex='^hijo_').values
pca_hijo.fit(hijo_vars)
esru['riq_hijo'] = pca_hijo.transform(hijo_vars)[:, 0]

esru['q_riq_hijo'] = pd.qcut(esru['riq_hijo'], 5, labels=False)

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [24]:
# Eliminar las columnas especificadas
esru.drop(columns=[
    'anesc_pad', 'anesc_mad', 'anesc_padres', 'anesc_ent', 'padres_hac', 'hijo_hac',
    'padres_agua', 'padres_estufa', 'padres_elect', 'padres_tv', 'padres_refri',
    'padres_lavad', 'padres_telfijo', 'padres_compu', 'padres_videoc', 'padres_micro',
    'padres_tvcable', 'padres_duenoviv', 'padres_duenolocal', 'padres_duenotierra',
    'padres_duenootro', 'padres_auto', 'padres_tractor', 'padres_animales', 'padres_ganado',
    'padres_banco', 'padres_tarjcredito', 'padres_boiler', 'padres_serv', 'padres_asp',
    'padres_viv', 'hijo_agua', 'hijo_estufa', 'hijo_elect', 'hijo_refri', 'hijo_lavad',
    'hijo_telfijo', 'hijo_compu', 'hijo_videoc', 'hijo_micro', 'hijo_tvcable', 'hijo_duenoviv',
    'hijo_duenolocal', 'hijo_duenotierra', 'hijo_animales', 'hijo_ganado', 'hijo_banco',
    'hijo_tarjcredito', 'hijo_internet', 'hijo_boiler', 'hijo_serv', 'hijo_viv', 'hijo_auto',
    'hijo_mattierra'
])

,folio,Estado,folio_ageb,consecutivo,Origen,Latitud,Longitud,LatitudGP,LongitudGP,recontacto,...,clases_padre,clases_madre,clases,niveducp,niveducm,niveduc,riq_padres,q_riq_padres,riq_hijo,q_riq_hijo
0,0100100010286020830102,1.0,0100100010286,1,1.0,21.901323,-102.310598,21.901477,-102.310429,2,...,1.0,NaN,NaN,1.0,1.0,5.0,0.230111,3,-0.693896,1
1,0100100010286020850201,1.0,0100100010286,1,2.0,21.901323,-102.310598,21.900773,-102.311138,1,...,1.0,NaN,NaN,3.0,1.0,4.0,0.765659,3,-0.884118,1
2,0100100010286025830201,1.0,0100100010286,1,1.0,21.900830,-102.311818,21.900549,-102.313361,1,...,2.0,NaN,NaN,NaN,3.0,5.0,-1.275069,1,-1.895547,0
3,0100100010286025840101,1.0,0100100010286,1,1.0,21.901188,-102.310700,21.900765,-102.313144,1,...,3.0,NaN,NaN,NaN,NaN,3.0,0.439338,3,-1.078158,0
4,0100100010286025850101,1.0,0100100010286,1,2.0,21.901188,-102.310700,21.900577,-102.312733,1,...,3.0,NaN,NaN,3.0,3.0,3.0,-1.600029,1,-0.143266,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17660,3205700010022019460402,32.0,3205700010022,2,1.0,22.755409,-102.513985,22.755409,-102.513985,1,...,4.0,NaN,NaN,4.0,4.0,4.0,-0.901729,2,0.634791,3
17661,3205700010022025450501,32.0,3205700010022,2,1.0,22.288405,-101.577532,22.288405,-101.577532,1,...,NaN,NaN,NaN,1.0,1.0,3.0,-1.227542,1,0.731455,3
17662,3205700010022025460301,32.0,3205700010022,2,1.0,22.758625,-102.499375,22.758625,-102.499375,1,...,NaN,NaN,NaN,1.0,1.0,4.0,-0.894251,2,1.137291,4
17663,3205700010022025460302,32.0,3205700010022,2,1.0,22.755420,-102.513997,22.755420,-102.513997,1,...,NaN,3.0,NaN,NaN,3.0,5.0,-1.705906,1,0.705674,3
17664,3205700010022025460501,32.0,3205700010022,7,1.0,22.758625,-102.499375,22.758625,-102.499375,1,...,NaN,NaN,NaN,1.0,3.0,4.0,-1.690775,1,0.719974,3

In [25]:
# VARIABLE PERCEPCIÓN DEL HOGAR ACTUAL
esru['hogar_actual'] = np.nan
esru.loc[esru['p147'].isin([1, 2]), 'hogar_actual'] = 1
esru.loc[esru['p147'].isin([3, 4]), 'hogar_actual'] = 2
esru.loc[esru['p147'].isin([5, 6]), 'hogar_actual'] = 3
esru.loc[esru['p147'].isin([7, 8]), 'hogar_actual'] = 4
esru.loc[esru['p147'].isin([9, 10]), 'hogar_actual'] = 5

# VARIABLE PERCEPCIÓN DEL HOGAR DE ORIGEN
esru['hogar_nin'] = np.nan
esru.loc[esru['p148'].isin([1, 2]), 'hogar_nin'] = 1
esru.loc[esru['p148'].isin([3, 4]), 'hogar_nin'] = 2
esru.loc[esru['p148'].isin([5, 6]), 'hogar_nin'] = 3
esru.loc[esru['p148'].isin([7, 8]), 'hogar_nin'] = 4
esru.loc[esru['p148'].isin([9, 10]), 'hogar_nin'] = 5


esru['hogar_nin'] = esru['hogar_nin'].astype('category')
esru['hogar_nin'].cat.rename_categories({0: 'Percepcion del hogar de origen comparado con todos los hogares de ese tiempo'})

esru['hogar_actual'] = esru['hogar_actual'].astype('category')
esru['hogar_actual'].cat.rename_categories({0: 'Percepcion del hogar actual comparado con todos los hogares en este momento'})

<ipython-input-25-6033eeb5787d>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['hogar_actual'] = np.nan
<ipython-input-25-6033eeb5787d>:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['hogar_nin'] = np.nan

0        1.0
1        3.0
2        3.0
3        4.0
4        3.0
        ...
17660    3.0
17661    5.0
17662    2.0
17663    3.0
17664    3.0
Name: hogar_actual, Length: 17665, dtype: category
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 5.0]

In [26]:
# VARIABLE DE POBREZA
esru['pobre'] = np.nan
esru.loc[esru['q_riq_padres'].isin([1, 2]), 'pobre'] = 1
esru.loc[esru['q_riq_padres'].isin([3, 4, 5]), 'pobre'] = 0

esru['pobre'] = esru['pobre'].astype('category')
esru['pobre'].cat.rename_categories({
    1: 'Quintil 1 y 2 de origen',
    0: 'Quintil 3 a 5 de origen'
})

esru['pobre'].cat.rename_categories({
    1: 'Población con quintil socioeconómico de origen 1 y 2',
    0: 'Población con quintil socioeconómico de origen 3 a 5'
})

<ipython-input-26-6260dec6e81f>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['pobre'] = np.nan

0        Población con quintil socioeconómico de origen...
1        Población con quintil socioeconómico de origen...
2        Población con quintil socioeconómico de origen...
3        Población con quintil socioeconómico de origen...
4        Población con quintil socioeconómico de origen...
                               ...
17660    Población con quintil socioeconómico de origen...
17661    Población con quintil socioeconómico de origen...
17662    Población con quintil socioeconómico de origen...
17663    Población con quintil socioeconómico de origen...
17664    Población con quintil socioeconómico de origen...
Name: pobre, Length: 17665, dtype: category
Categories (2, object): ['Población con quintil socioeconómico de orige..., 'Población con quintil socioeconómico de orige...]

In [27]:
# VARIABLE VIVIR EN CDMX
esru['region_14'] = np.nan
esru.loc[(esru['p23'] > 33) & (esru['p23'].notna()), 'region_14'] = 0
esru.loc[esru['p23'].isin([2, 26, 8, 5, 19, 28]), 'region_14'] = 1
esru.loc[esru['p23'].isin([3, 25, 18, 10, 32]), 'region_14'] = 2
esru.loc[esru['p23'].isin([14, 1, 6, 16, 24]), 'region_14'] = 3
esru.loc[esru['p23'].isin([11, 22, 13, 15, 17, 29, 21, 9]), 'region_14'] = 4
esru.loc[esru['p23'].isin([12, 20, 7, 30, 27, 4, 31, 23]), 'region_14'] = 5


esru['region_14'] = esru['region_14'].astype('category')
esru['region_14'].cat.rename_categories({
    0: 'No vivía en México',
    1: 'Norte',
    2: 'Norte-occidente',
    3: 'Centro-norte',
    4: 'Centro',
    5: 'Sur'
})


esru['cdmx_14'] = np.nan
esru.loc[esru['p23'] == 9, 'cdmx_14'] = 1
esru.loc[esru['p23'] != 9, 'cdmx_14'] = 0


esru['cdmx_14'] = esru['cdmx_14'].astype('category')

unique_categories1 = {
    0: 'Resto del país',
    1: 'Ciudad de México',
}
esru['cdmx_14'].cat.rename_categories(unique_categories1)

<ipython-input-27-f38e04b86f61>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['region_14'] = np.nan
<ipython-input-27-f38e04b86f61>:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  esru['cdmx_14'] = np.nan

0        Resto del país
1        Resto del país
2        Resto del país
3        Resto del país
4        Resto del país
              ...
17660    Resto del país
17661    Resto del país
17662    Resto del país
17663    Resto del país
17664    Resto del país
Name: cdmx_14, Length: 17665, dtype: category
Categories (2, object): ['Resto del país', 'Ciudad de México']

In [28]:
esru.columns.values

array(['folio', 'Estado', 'folio_ageb', 'consecutivo', 'Origen',
       'Latitud', 'Longitud', 'LatitudGP', 'LongitudGP', 'recontacto',
       'factor', 'est_dis', 'upm', 'ezona', 'p01', 'p02', 'p03', 'p05',
       'p06', 'p08', 'p09_1', 'p09_2', 'p09_3', 'p10_1', 'p10_2', 'p10_3',
       'p11_1', 'p11_2', 'p11_3', 'p12', 'p13', 'p13_1', 'p14', 'p15',
       'p18', 'p19', 'p20_1', 'p20_2', 'p21', 'p22', 'p23', 'p23_1',
       'p23_2', 'p24', 'p25', 'p26', 'p26_41', 'p26_51', 'p27', 'p28',
       'p28_1', 'p29', 'p30_a', 'p30_b', 'p30_c', 'p30_d', 'p30_e', 'p31',
       'p31_51', 'p32_a', 'p32_b', 'p32_c', 'p32_d', 'p33_a', 'p33_b',
       'p33_c', 'p33_d', 'p33_e', 'p33_f', 'p33_g', 'p33_h', 'p33_i',
       'p33_j', 'p33_k', 'p33_l', 'p33_m', 'p33_n', 'p34_a', 'p34_b',
       'p34_c', 'p34_d', 'p34_e', 'p34_f', 'p34_g', 'p34_h', 'p35',
       'p36_11', 'p37_11', 'p38_11', 'p39', 'p40', 'p41', 'p42', 'p43',
       'p44', 'p45', 'p35m', 'p36m_11', 'p37m_11', 'p38m_11', 'p39m',
       'p40m', 'p41m', 'p42m', 'p43m', 'p44m', 'p45m', 'p46', 'p47',
       'p48', 'SINCO1', 'CIUO1', 'p49', 'p50', 'p51', 'p52', 'p53', 'p54',
       'p55', 'SINCO2', 'CIUO2', 'p56', 'p57', 'p58', 'p59', 'p60', 'p61',
       'p62a', 'p62b', 'p62c', 'p62d', 'p62e', 'p62f', 'p62g', 'p62h',
       'p62i', 'p63a', 'p63b', 'p63b_1', 'p63b_2', 'p63c', 'p63c_1',
       'p63c_2', 'p63d', 'p64', 'p65', 'p65_41', 'p66', 'p67', 'p68',
       'p69', 'p70', 'p71', 'p71_61', 'p72', 'p73_1', 'p74', 'p75', 'p76',
       'SINCO3', 'CIUO3', 'p77', 'p78', 'p79', 'SCIAN3', 'p80', 'p81',
       'p82', 'p83', 'p84', 'p85_1', 'p85_2', 'p85_3', 'p85_4', 'p85_5',
       'p85_6', 'p85_7', 'p85_8', 'p85_9', 'p85_10', 'p85_9_1', 'p86',
       'p87', 'p88', 'p89', 'p89_11', 'p90', 'p91', 'p92', 'p93', 'p94',
       'p95', 'p96', 'p97', 'p97_11', 'p98', 'p99', 'p99a', 'p100',
       'p101', 'SINCO4', 'CIUO4', 'p102', 'p103', 'p104', 'SCIAN4',
       'p105', 'p106', 'p107', 'p108', 'p109', 'p110_1', 'p110_2',
       'p110_3', 'p110_4', 'p110_5', 'p110_6', 'p110_7', 'p110_8',
       'p110_9', 'p110_9_1', 'p110_10', 'p111', 'p112', 'p113', 'p113_11',
       'p114', 'p115', 'p116', 'p116_71', 'p117', 'p118', 'p119', 'p120',
       'p121', 'p122', 'p123', 'p124', 'p124_61', 'p125a', 'p125b',
       'p125c', 'p125d', 'p125e', 'p126a', 'p126b', 'p126c', 'p126d',
       'p126e', 'p126f', 'p126g', 'p126h', 'p126i', 'p126j', 'p126k',
       'p126l', 'p126m', 'p126n', 'p126o', 'p126p', 'p126q', 'p126r',
       'p127', 'p127_81', 'p128a', 'p128b', 'p128c', 'p128d', 'p128e',
       'p128f', 'p129a', 'p129b', 'p129c', 'p129d', 'p129e', 'p130a',
       'p130b', 'p130c', 'p130c_11', 'p130d', 'p130e', 'p130f',
       'p130f_11', 'p131', 'p132', 'p133', 'p134a', 'p134b', 'p134c',
       'p134d', 'p134e', 'p134f', 'p134g', 'p134h', 'p134i', 'p135',
       'p136', 'p137', 'SINCO5', 'CIUO5', 'p138', 'p139', 'p140', 'p141',
       'p142', 'p143', 'p144', 'p145', 'p146', 'p147', 'p148', 'p149',
       'p150a', 'p150a_1', 'p150a_2', 'p150a_3', 'p150a_4', 'p150a_5',
       'p150a_6', 'p150b', 'p150b_1', 'p150b_2', 'p150b_3', 'p150b_4',
       'p150b_5', 'p150b_6', 'p150c', 'p150c_1', 'p150c_2', 'p150c_3',
       'p150c_4', 'p150c_5', 'p150c_6', 'p150d', 'p150d_1', 'p150d_2',
       'p150d_3', 'p150d_4', 'p150d_5', 'p150d_6', 'p150e', 'p150e_1',
       'p150e_2', 'p150e_3', 'p150e_4', 'p150e_5', 'p150e_6', 'p150f',
       'p150f_11', 'p150f_1', 'p150f_2', 'p150f_3', 'p150f_4', 'p150f_5',
       'p150f_6', 'p151', 'region', 'cdmx', 'tot_int', 'rururb', 'cmo1_2',
       'cmo2_2', 'cmo3_2', 'cmo4_2', 'cmo5_2', 'tamhog', 'educ',
       'educ_padre', 'educ_madre', 'educ_padre_2', 'piso', 'i_or',
       'iriq_or', 'quintil_or', 'i_des', 'iriq_des', 'quintil_des',
       'clases_padre', 'clases_madre', 'clases', 'niveducp', 'niveducm',
       'niveduc', 'anesc_pad', 'anesc_mad', 'anesc_padres', 'anesc_ent',
       'padres_hac', 'hijo_hac', 'padres_agua', 'padres_estufa',
       'padres_elect', 'padres_tv', 'padres_refri', 'padres_lavad',
       'padres_telfijo', 'padres_compu', 'padres_videoc', 'padres_micro',
       'padres_tvcable', 'padres_duenoviv', 'padres_duenolocal',
       'padres_duenotierra', 'padres_duenootro', 'padres_auto',
       'padres_tractor', 'padres_animales', 'padres_ganado',
       'padres_banco', 'padres_tarjcredito', 'padres_boiler',
       'padres_serv', 'padres_asp', 'padres_viv', 'hijo_agua',
       'hijo_estufa', 'hijo_elect', 'hijo_refri', 'hijo_lavad',
       'hijo_telfijo', 'hijo_compu', 'hijo_videoc', 'hijo_micro',
       'hijo_tvcable', 'hijo_duenoviv', 'hijo_duenolocal',
       'hijo_duenotierra', 'hijo_animales', 'hijo_ganado', 'hijo_banco',
       'hijo_tarjcredito', 'hijo_internet', 'hijo_boiler', 'hijo_serv',
       'hijo_viv', 'hijo_auto', 'hijo_mattierra', 'riq_padres',
       'q_riq_padres', 'riq_hijo', 'q_riq_hijo', 'hogar_actual',
       'hogar_nin', 'pobre', 'region_14', 'cdmx_14'], dtype=object)

In [22]:
esru.to_csv('variables_esru.csv', index=False)